<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpTest.Net.Collections" version="14.906.1403.1082" targetFramework="net48" />
  <package id="FontAwesome5" version="2.1.4" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="SoftCircuits.CsvParser" version="3.0.0" targetFramework="net48" />
</packages>