<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.9.2" targetFramework="net48" />
  <package id="Common.Logging" version="2.3.1" targetFramework="net48" />
  <package id="CSharpTest.Net.Collections" version="14.906.1403.1082" targetFramework="net48" />
  <package id="J2N" version="2.0.0-beta-0007" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="Lucene.Net" version="4.8.0-beta00008" targetFramework="net48" />
  <package id="Lucene.Net.Analysis.Common" version="4.8.0-beta00008" targetFramework="net48" />
  <package id="Lucene.Net.Queries" version="4.8.0-beta00008" targetFramework="net48" />
  <package id="Lucene.Net.QueryParser" version="4.8.0-beta00008" targetFramework="net48" />
  <package id="Lucene.Net.Sandbox" version="4.8.0-beta00008" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="OpenTextSummarizer" version="1.0.2" targetFramework="net48" />
  <package id="Remotion.Linq" version="1.13.183.0" targetFramework="net48" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net48" />
  <package id="SoftCircuits.CsvParser" version="3.0.0" targetFramework="net48" />
  <package id="Spatial4n.Core" version="0.3" targetFramework="net48" />
</packages>